<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="form-container">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.email_field :name, autofocus: true, autocomplete: "name", class: "styled-input" %>
      </div>
      <div class="field">
        <%= f.label :mobile %><br />
        <%= f.email_field :mobile, autofocus: true, autocomplete: "mobile", class: "styled-input" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "styled-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

  </div>

</body>
</html>
